body {
    width: 100%;
    margin: 0 auto;
    background-color: #F1F1F1;
    color: #c2c2c2;
    font-size: 12px;
    font-family: Arial, sans-serif;
}
* {
    box-sizing: border-box;
    /*transition: all .1s ease-in;*/
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
img {
    width: auto;
    max-width: 100%;
}

p {
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
body .container {
    margin: 0 auto;
    padding-top: 5%;
    width: 80%;
}
body .container header input[type="search"] {
    width: calc(100% - 49px);
    background-color: transparent;
    border: none;
    font-size: 75px;
    font-weight: bold;
    opacity: .5;
    vertical-align: middle;
}
body .container header button {
    background-color: transparent;
    text-align: right;
    border: none;
    vertical-align: middle;
    padding: 0;
}
body .container header button img {
    width: 45px;
}
body .container main {
    padding-top: 5%;
    font-size: 0;
}
body .container main .tab {
    display: inline-block;
    width: 30%;
}
body .container main .tab:nth-child(2) {
    display: inline-block;
    margin: 0 5% 0 5%;
}

body .container main .tab h3 {
    padding-bottom: 4%;
    font-size: 12px;
    font-weight: bold;
}

body .container main .tab ul  {
    font-size: 12px;
}
body .container main .tab li  {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1%;
    border-radius: 4px;
    background-color: #EAEAEC;
    font-weight: bold;
    vertical-align: middle;
}
body .container main .tab li:hover  {
    background-color: #E3E3E5;
    color: #D06670;
    cursor: pointer;
}
body .container main .tab li:active  {
    background-color: #EAEAEC;
    color: #D06670;
    cursor: pointer;
}

body .container main .tab li img {
    margin: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

