* {
  margin: 0;
  padding: 0;
  outline: none; }

a {
  text-decoration: none !important; }

ul {
  list-style-type: none; }

img {
  width: 100%; }

@font-face {
  font-family: 'HelveticaNeueLTPro-Th';
  src: local("HelveticaNeueLTPro-Th"), url("http://nomail.com.ua/files/woff/451d585949540abf30299ff47048a3e0.woff") format("woff"); }

body {
  font-size: 14px;
  background-image: url("../img/baxckground.png");
  background-size: cover;
  font-family: Verdana, Arial, sans-serif; }

.container {
  width: 100%;
  max-width: 850px;
  position: relative; }
  .container:after {
    clear: both;
    display: block;
    content: ''; }

.header .container {
  margin-top: 1%; }
  .header .container .row #label {
    margin-top: 12px;
    margin-left: -14px;
    color: white; }
    .header .container .row #label p {
      display: block;
      letter-spacing: -0.043em;
      font-family: HelveticaNeueLTPro-Th, Arial, sans-serif;
      font-size: 2.4em; }
      .header .container .row #label p span {
        color: #00aff8; }
    .header .container .row #label h6 {
      margin: -18px 0 0 60px;
      color: #a7a7a7;
      font-size: .85em; }
  .header .container .row #nav {
    margin-top: 12px; }
    .header .container .row #nav ul {
      font-family: Verdana, Arial, sans-serif;
      font-size: 0.85em;
      margin: 12px 0 0 47px;
      text-align: right; }
      .header .container .row #nav ul li {
        margin-right: 10px; }
        .header .container .row #nav ul li a {
          -webkit-border-radius: 20px;
                  border-radius: 20px;
          color: #b3b3b3; }
          .header .container .row #nav ul li a:hover {
            background-color: #0eb1f5; }
          .header .container .row #nav ul li a:active {
            background-color: #0eb1f5; }
          .header .container .row #nav ul li a:focus {
            color: #fefefe;
            background-color: #0eb1f5; }
        .header .container .row #nav ul li:nth-child(6) {
          margin-right: -57px; }

.main .container {
  margin-top: 41px;
  background: rgba(247, 247, 247, 0.1) !important;
  padding-bottom: 18px;
  margin-bottom: 51px; }
  .main .container .row .col-lg-12 .col-lg-12, .main .container .row .col-lg-12 .col-md-12, .main .container .row .col-lg-12 .col-sm-12, .main .container .row .col-lg-12 .col-xs-12, .main .container .row .col-md-12 .col-lg-12, .main .container .row .col-md-12 .col-md-12, .main .container .row .col-md-12 .col-sm-12, .main .container .row .col-md-12 .col-xs-12, .main .container .row .col-sm-12 .col-lg-12, .main .container .row .col-sm-12 .col-md-12, .main .container .row .col-sm-12 .col-sm-12, .main .container .row .col-sm-12 .col-xs-12, .main .container .row .col-xs-12 .col-lg-12, .main .container .row .col-xs-12 .col-md-12, .main .container .row .col-xs-12 .col-sm-12, .main .container .row .col-xs-12 .col-xs-12 {
    margin-top: 17px;
    background: #f8f8f8; }
  .main .container .row .col-lg-12 .clock-coffee .col-lg-12, .main .container .row .col-lg-12 .clock-coffee .col-md-12, .main .container .row .col-lg-12 .clock-coffee .col-sm-12, .main .container .row .col-lg-12 .clock-coffee .col-xs-12, .main .container .row .col-md-12 .clock-coffee .col-lg-12, .main .container .row .col-md-12 .clock-coffee .col-md-12, .main .container .row .col-md-12 .clock-coffee .col-sm-12, .main .container .row .col-md-12 .clock-coffee .col-xs-12, .main .container .row .col-sm-12 .clock-coffee .col-lg-12, .main .container .row .col-sm-12 .clock-coffee .col-md-12, .main .container .row .col-sm-12 .clock-coffee .col-sm-12, .main .container .row .col-sm-12 .clock-coffee .col-xs-12, .main .container .row .col-xs-12 .clock-coffee .col-lg-12, .main .container .row .col-xs-12 .clock-coffee .col-md-12, .main .container .row .col-xs-12 .clock-coffee .col-sm-12, .main .container .row .col-xs-12 .clock-coffee .col-xs-12 {
    border: 1px solid #e5e5e5;
    background-color: white;
    margin-top: -5px;
    margin-bottom: 18px; }
    .main .container .row .col-lg-12 .clock-coffee .col-lg-12 .col-lg-6:nth-child(2), .main .container .row .col-lg-12 .clock-coffee .col-lg-12 .col-md-6:nth-child(2), .main .container .row .col-lg-12 .clock-coffee .col-lg-12 .col-sm-6:nth-child(2), .main .container .row .col-lg-12 .clock-coffee .col-lg-12 .col-xs-6:nth-child(2), .main .container .row .col-lg-12 .clock-coffee .col-md-12 .col-lg-6:nth-child(2), .main .container .row .col-lg-12 .clock-coffee .col-md-12 .col-md-6:nth-child(2), .main .container .row .col-lg-12 .clock-coffee .col-md-12 .col-sm-6:nth-child(2), .main .container .row .col-lg-12 .clock-coffee .col-md-12 .col-xs-6:nth-child(2), .main .container .row .col-lg-12 .clock-coffee .col-sm-12 .col-lg-6:nth-child(2), .main .container .row .col-lg-12 .clock-coffee .col-sm-12 .col-md-6:nth-child(2), .main .container .row .col-lg-12 .clock-coffee .col-sm-12 .col-sm-6:nth-child(2), .main .container .row .col-lg-12 .clock-coffee .col-sm-12 .col-xs-6:nth-child(2), .main .container .row .col-lg-12 .clock-coffee .col-xs-12 .col-lg-6:nth-child(2), .main .container .row .col-lg-12 .clock-coffee .col-xs-12 .col-md-6:nth-child(2), .main .container .row .col-lg-12 .clock-coffee .col-xs-12 .col-sm-6:nth-child(2), .main .container .row .col-lg-12 .clock-coffee .col-xs-12 .col-xs-6:nth-child(2), .main .container .row .col-md-12 .clock-coffee .col-lg-12 .col-lg-6:nth-child(2), .main .container .row .col-md-12 .clock-coffee .col-lg-12 .col-md-6:nth-child(2), .main .container .row .col-md-12 .clock-coffee .col-lg-12 .col-sm-6:nth-child(2), .main .container .row .col-md-12 .clock-coffee .col-lg-12 .col-xs-6:nth-child(2), .main .container .row .col-md-12 .clock-coffee .col-md-12 .col-lg-6:nth-child(2), .main .container .row .col-md-12 .clock-coffee .col-md-12 .col-md-6:nth-child(2), .main .container .row .col-md-12 .clock-coffee .col-md-12 .col-sm-6:nth-child(2), .main .container .row .col-md-12 .clock-coffee .col-md-12 .col-xs-6:nth-child(2), .main .container .row .col-md-12 .clock-coffee .col-sm-12 .col-lg-6:nth-child(2), .main .container .row .col-md-12 .clock-coffee .col-sm-12 .col-md-6:nth-child(2), .main .container .row .col-md-12 .clock-coffee .col-sm-12 .col-sm-6:nth-child(2), .main .container .row .col-md-12 .clock-coffee .col-sm-12 .col-xs-6:nth-child(2), .main .container .row .col-md-12 .clock-coffee .col-xs-12 .col-lg-6:nth-child(2), .main .container .row .col-md-12 .clock-coffee .col-xs-12 .col-md-6:nth-child(2), .main .container .row .col-md-12 .clock-coffee .col-xs-12 .col-sm-6:nth-child(2), .main .container .row .col-md-12 .clock-coffee .col-xs-12 .col-xs-6:nth-child(2), .main .container .row .col-sm-12 .clock-coffee .col-lg-12 .col-lg-6:nth-child(2), .main .container .row .col-sm-12 .clock-coffee .col-lg-12 .col-md-6:nth-child(2), .main .container .row .col-sm-12 .clock-coffee .col-lg-12 .col-sm-6:nth-child(2), .main .container .row .col-sm-12 .clock-coffee .col-lg-12 .col-xs-6:nth-child(2), .main .container .row .col-sm-12 .clock-coffee .col-md-12 .col-lg-6:nth-child(2), .main .container .row .col-sm-12 .clock-coffee .col-md-12 .col-md-6:nth-child(2), .main .container .row .col-sm-12 .clock-coffee .col-md-12 .col-sm-6:nth-child(2), .main .container .row .col-sm-12 .clock-coffee .col-md-12 .col-xs-6:nth-child(2), .main .container .row .col-sm-12 .clock-coffee .col-sm-12 .col-lg-6:nth-child(2), .main .container .row .col-sm-12 .clock-coffee .col-sm-12 .col-md-6:nth-child(2), .main .container .row .col-sm-12 .clock-coffee .col-sm-12 .col-sm-6:nth-child(2), .main .container .row .col-sm-12 .clock-coffee .col-sm-12 .col-xs-6:nth-child(2), .main .container .row .col-sm-12 .clock-coffee .col-xs-12 .col-lg-6:nth-child(2), .main .container .row .col-sm-12 .clock-coffee .col-xs-12 .col-md-6:nth-child(2), .main .container .row .col-sm-12 .clock-coffee .col-xs-12 .col-sm-6:nth-child(2), .main .container .row .col-sm-12 .clock-coffee .col-xs-12 .col-xs-6:nth-child(2), .main .container .row .col-xs-12 .clock-coffee .col-lg-12 .col-lg-6:nth-child(2), .main .container .row .col-xs-12 .clock-coffee .col-lg-12 .col-md-6:nth-child(2), .main .container .row .col-xs-12 .clock-coffee .col-lg-12 .col-sm-6:nth-child(2), .main .container .row .col-xs-12 .clock-coffee .col-lg-12 .col-xs-6:nth-child(2), .main .container .row .col-xs-12 .clock-coffee .col-md-12 .col-lg-6:nth-child(2), .main .container .row .col-xs-12 .clock-coffee .col-md-12 .col-md-6:nth-child(2), .main .container .row .col-xs-12 .clock-coffee .col-md-12 .col-sm-6:nth-child(2), .main .container .row .col-xs-12 .clock-coffee .col-md-12 .col-xs-6:nth-child(2), .main .container .row .col-xs-12 .clock-coffee .col-sm-12 .col-lg-6:nth-child(2), .main .container .row .col-xs-12 .clock-coffee .col-sm-12 .col-md-6:nth-child(2), .main .container .row .col-xs-12 .clock-coffee .col-sm-12 .col-sm-6:nth-child(2), .main .container .row .col-xs-12 .clock-coffee .col-sm-12 .col-xs-6:nth-child(2), .main .container .row .col-xs-12 .clock-coffee .col-xs-12 .col-lg-6:nth-child(2), .main .container .row .col-xs-12 .clock-coffee .col-xs-12 .col-md-6:nth-child(2), .main .container .row .col-xs-12 .clock-coffee .col-xs-12 .col-sm-6:nth-child(2), .main .container .row .col-xs-12 .clock-coffee .col-xs-12 .col-xs-6:nth-child(2) {
      border: none; }
  .main .container .row .col-lg-12 .clock-coffee .col-lg-6, .main .container .row .col-lg-12 .clock-coffee .col-md-6, .main .container .row .col-lg-12 .clock-coffee .col-sm-6, .main .container .row .col-lg-12 .clock-coffee .col-xs-6, .main .container .row .col-md-12 .clock-coffee .col-lg-6, .main .container .row .col-md-12 .clock-coffee .col-md-6, .main .container .row .col-md-12 .clock-coffee .col-sm-6, .main .container .row .col-md-12 .clock-coffee .col-xs-6, .main .container .row .col-sm-12 .clock-coffee .col-lg-6, .main .container .row .col-sm-12 .clock-coffee .col-md-6, .main .container .row .col-sm-12 .clock-coffee .col-sm-6, .main .container .row .col-sm-12 .clock-coffee .col-xs-6, .main .container .row .col-xs-12 .clock-coffee .col-lg-6, .main .container .row .col-xs-12 .clock-coffee .col-md-6, .main .container .row .col-xs-12 .clock-coffee .col-sm-6, .main .container .row .col-xs-12 .clock-coffee .col-xs-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-right: 1px solid #e5e5e5;
    padding-bottom: 30px; }
    .main .container .row .col-lg-12 .clock-coffee .col-lg-6 .col-lg-5, .main .container .row .col-lg-12 .clock-coffee .col-lg-6 .col-md-5, .main .container .row .col-lg-12 .clock-coffee .col-lg-6 .col-sm-5, .main .container .row .col-lg-12 .clock-coffee .col-lg-6 .col-xs-5, .main .container .row .col-lg-12 .clock-coffee .col-md-6 .col-lg-5, .main .container .row .col-lg-12 .clock-coffee .col-md-6 .col-md-5, .main .container .row .col-lg-12 .clock-coffee .col-md-6 .col-sm-5, .main .container .row .col-lg-12 .clock-coffee .col-md-6 .col-xs-5, .main .container .row .col-lg-12 .clock-coffee .col-sm-6 .col-lg-5, .main .container .row .col-lg-12 .clock-coffee .col-sm-6 .col-md-5, .main .container .row .col-lg-12 .clock-coffee .col-sm-6 .col-sm-5, .main .container .row .col-lg-12 .clock-coffee .col-sm-6 .col-xs-5, .main .container .row .col-lg-12 .clock-coffee .col-xs-6 .col-lg-5, .main .container .row .col-lg-12 .clock-coffee .col-xs-6 .col-md-5, .main .container .row .col-lg-12 .clock-coffee .col-xs-6 .col-sm-5, .main .container .row .col-lg-12 .clock-coffee .col-xs-6 .col-xs-5, .main .container .row .col-md-12 .clock-coffee .col-lg-6 .col-lg-5, .main .container .row .col-md-12 .clock-coffee .col-lg-6 .col-md-5, .main .container .row .col-md-12 .clock-coffee .col-lg-6 .col-sm-5, .main .container .row .col-md-12 .clock-coffee .col-lg-6 .col-xs-5, .main .container .row .col-md-12 .clock-coffee .col-md-6 .col-lg-5, .main .container .row .col-md-12 .clock-coffee .col-md-6 .col-md-5, .main .container .row .col-md-12 .clock-coffee .col-md-6 .col-sm-5, .main .container .row .col-md-12 .clock-coffee .col-md-6 .col-xs-5, .main .container .row .col-md-12 .clock-coffee .col-sm-6 .col-lg-5, .main .container .row .col-md-12 .clock-coffee .col-sm-6 .col-md-5, .main .container .row .col-md-12 .clock-coffee .col-sm-6 .col-sm-5, .main .container .row .col-md-12 .clock-coffee .col-sm-6 .col-xs-5, .main .container .row .col-md-12 .clock-coffee .col-xs-6 .col-lg-5, .main .container .row .col-md-12 .clock-coffee .col-xs-6 .col-md-5, .main .container .row .col-md-12 .clock-coffee .col-xs-6 .col-sm-5, .main .container .row .col-md-12 .clock-coffee .col-xs-6 .col-xs-5, .main .container .row .col-sm-12 .clock-coffee .col-lg-6 .col-lg-5, .main .container .row .col-sm-12 .clock-coffee .col-lg-6 .col-md-5, .main .container .row .col-sm-12 .clock-coffee .col-lg-6 .col-sm-5, .main .container .row .col-sm-12 .clock-coffee .col-lg-6 .col-xs-5, .main .container .row .col-sm-12 .clock-coffee .col-md-6 .col-lg-5, .main .container .row .col-sm-12 .clock-coffee .col-md-6 .col-md-5, .main .container .row .col-sm-12 .clock-coffee .col-md-6 .col-sm-5, .main .container .row .col-sm-12 .clock-coffee .col-md-6 .col-xs-5, .main .container .row .col-sm-12 .clock-coffee .col-sm-6 .col-lg-5, .main .container .row .col-sm-12 .clock-coffee .col-sm-6 .col-md-5, .main .container .row .col-sm-12 .clock-coffee .col-sm-6 .col-sm-5, .main .container .row .col-sm-12 .clock-coffee .col-sm-6 .col-xs-5, .main .container .row .col-sm-12 .clock-coffee .col-xs-6 .col-lg-5, .main .container .row .col-sm-12 .clock-coffee .col-xs-6 .col-md-5, .main .container .row .col-sm-12 .clock-coffee .col-xs-6 .col-sm-5, .main .container .row .col-sm-12 .clock-coffee .col-xs-6 .col-xs-5, .main .container .row .col-xs-12 .clock-coffee .col-lg-6 .col-lg-5, .main .container .row .col-xs-12 .clock-coffee .col-lg-6 .col-md-5, .main .container .row .col-xs-12 .clock-coffee .col-lg-6 .col-sm-5, .main .container .row .col-xs-12 .clock-coffee .col-lg-6 .col-xs-5, .main .container .row .col-xs-12 .clock-coffee .col-md-6 .col-lg-5, .main .container .row .col-xs-12 .clock-coffee .col-md-6 .col-md-5, .main .container .row .col-xs-12 .clock-coffee .col-md-6 .col-sm-5, .main .container .row .col-xs-12 .clock-coffee .col-md-6 .col-xs-5, .main .container .row .col-xs-12 .clock-coffee .col-sm-6 .col-lg-5, .main .container .row .col-xs-12 .clock-coffee .col-sm-6 .col-md-5, .main .container .row .col-xs-12 .clock-coffee .col-sm-6 .col-sm-5, .main .container .row .col-xs-12 .clock-coffee .col-sm-6 .col-xs-5, .main .container .row .col-xs-12 .clock-coffee .col-xs-6 .col-lg-5, .main .container .row .col-xs-12 .clock-coffee .col-xs-6 .col-md-5, .main .container .row .col-xs-12 .clock-coffee .col-xs-6 .col-sm-5, .main .container .row .col-xs-12 .clock-coffee .col-xs-6 .col-xs-5 {
      margin: 31px 0 0 -28px; }
    .main .container .row .col-lg-12 .clock-coffee .col-lg-6 #coffee, .main .container .row .col-lg-12 .clock-coffee .col-md-6 #coffee, .main .container .row .col-lg-12 .clock-coffee .col-sm-6 #coffee, .main .container .row .col-lg-12 .clock-coffee .col-xs-6 #coffee, .main .container .row .col-md-12 .clock-coffee .col-lg-6 #coffee, .main .container .row .col-md-12 .clock-coffee .col-md-6 #coffee, .main .container .row .col-md-12 .clock-coffee .col-sm-6 #coffee, .main .container .row .col-md-12 .clock-coffee .col-xs-6 #coffee, .main .container .row .col-sm-12 .clock-coffee .col-lg-6 #coffee, .main .container .row .col-sm-12 .clock-coffee .col-md-6 #coffee, .main .container .row .col-sm-12 .clock-coffee .col-sm-6 #coffee, .main .container .row .col-sm-12 .clock-coffee .col-xs-6 #coffee, .main .container .row .col-xs-12 .clock-coffee .col-lg-6 #coffee, .main .container .row .col-xs-12 .clock-coffee .col-md-6 #coffee, .main .container .row .col-xs-12 .clock-coffee .col-sm-6 #coffee, .main .container .row .col-xs-12 .clock-coffee .col-xs-6 #coffee {
      margin: 34px 0 0 -10px; }
  .main .container .row .col-lg-12 .clock-coffee p, .main .container .row .col-md-12 .clock-coffee p, .main .container .row .col-sm-12 .clock-coffee p, .main .container .row .col-xs-12 .clock-coffee p {
    margin: 25px 0 0 2px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.85em;
    color: #858585; }
  .main .container .row #main-pop {
    margin: 25px 0 0 0;
    font-family: Verdana, Arial, sans-serif; }
    .main .container .row #main-pop h3 {
      color: #0b81be; }
    .main .container .row #main-pop #main_accordion {
      width: 100%;
      margin-bottom: 60px;
      color: #979797;
      font-size: 0.85em;
      border-right: 1px solid #e4e4e4; }
      .main .container .row #main-pop #main_accordion h3 {
        margin-top: -5px;
        letter-spacing: -0.065em; }
      .main .container .row #main-pop #main_accordion p {
        line-height: 1.6em; }
    .main .container .row #main-pop #main_text {
      color: #979797;
      font-size: 0.85em; }
      .main .container .row #main-pop #main_text h3 {
        margin: -4px 0 0 31px;
        font-size: 1.8em;
        letter-spacing: -0.01em; }
      .main .container .row #main-pop #main_text p {
        margin: 13px 0 0 31px; }
        .main .container .row #main-pop #main_text p:nth-child(3) {
          margin: 13px 0 0 31px; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); }
  .footer .row .col-lg-4 .col-lg-4, .footer .row .col-lg-4 .col-md-4, .footer .row .col-lg-4 .col-sm-4, .footer .row .col-lg-4 .col-xs-4, .footer .row .col-md-4 .col-lg-4, .footer .row .col-md-4 .col-md-4, .footer .row .col-md-4 .col-sm-4, .footer .row .col-md-4 .col-xs-4, .footer .row .col-sm-4 .col-lg-4, .footer .row .col-sm-4 .col-md-4, .footer .row .col-sm-4 .col-sm-4, .footer .row .col-sm-4 .col-xs-4, .footer .row .col-xs-4 .col-lg-4, .footer .row .col-xs-4 .col-md-4, .footer .row .col-xs-4 .col-sm-4, .footer .row .col-xs-4 .col-xs-4 {
    margin: 30px 0 0 -30px; }
    .footer .row .col-lg-4 .col-lg-4 a .twitter_img, .footer .row .col-lg-4 .col-md-4 a .twitter_img, .footer .row .col-lg-4 .col-sm-4 a .twitter_img, .footer .row .col-lg-4 .col-xs-4 a .twitter_img, .footer .row .col-md-4 .col-lg-4 a .twitter_img, .footer .row .col-md-4 .col-md-4 a .twitter_img, .footer .row .col-md-4 .col-sm-4 a .twitter_img, .footer .row .col-md-4 .col-xs-4 a .twitter_img, .footer .row .col-sm-4 .col-lg-4 a .twitter_img, .footer .row .col-sm-4 .col-md-4 a .twitter_img, .footer .row .col-sm-4 .col-sm-4 a .twitter_img, .footer .row .col-sm-4 .col-xs-4 a .twitter_img, .footer .row .col-xs-4 .col-lg-4 a .twitter_img, .footer .row .col-xs-4 .col-md-4 a .twitter_img, .footer .row .col-xs-4 .col-sm-4 a .twitter_img, .footer .row .col-xs-4 .col-xs-4 a .twitter_img {
      width: 100%; }
  .footer .row .col-lg-4 .twitter_text h3, .footer .row .col-md-4 .twitter_text h3, .footer .row .col-sm-4 .twitter_text h3, .footer .row .col-xs-4 .twitter_text h3 {
    color: #ffffff;
    font-family: Verdana, Arial, sans-serif;
    margin: 35px 0 0 6px; }
  .footer .row .col-lg-4 .twitter_text span, .footer .row .col-md-4 .twitter_text span, .footer .row .col-sm-4 .twitter_text span, .footer .row .col-xs-4 .twitter_text span {
    color: #727272; }
  .footer .row .col-lg-8 ul, .footer .row .col-md-8 ul, .footer .row .col-sm-8 ul, .footer .row .col-xs-8 ul {
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.85em;
    margin: 36px 0 0 76px;
    text-align: right; }
    .footer .row .col-lg-8 ul li, .footer .row .col-md-8 ul li, .footer .row .col-sm-8 ul li, .footer .row .col-xs-8 ul li {
      margin-right: 3px; }
      .footer .row .col-lg-8 ul li a, .footer .row .col-md-8 ul li a, .footer .row .col-sm-8 ul li a, .footer .row .col-xs-8 ul li a {
        -webkit-border-radius: 20px;
                border-radius: 20px;
        color: #b3b3b3; }
        .footer .row .col-lg-8 ul li a:hover, .footer .row .col-md-8 ul li a:hover, .footer .row .col-sm-8 ul li a:hover, .footer .row .col-xs-8 ul li a:hover {
          background-color: #0eb1f5; }
        .footer .row .col-lg-8 ul li a:active, .footer .row .col-md-8 ul li a:active, .footer .row .col-sm-8 ul li a:active, .footer .row .col-xs-8 ul li a:active {
          background-color: #0eb1f5; }
        .footer .row .col-lg-8 ul li a:focus, .footer .row .col-md-8 ul li a:focus, .footer .row .col-sm-8 ul li a:focus, .footer .row .col-xs-8 ul li a:focus {
          color: #fefefe;
          background-color: #0eb1f5; }
      .footer .row .col-lg-8 ul li:nth-child(6), .footer .row .col-md-8 ul li:nth-child(6), .footer .row .col-sm-8 ul li:nth-child(6), .footer .row .col-xs-8 ul li:nth-child(6) {
        margin-right: -57px; }
  .footer .row .col-lg-8 .col-lg-6, .footer .row .col-lg-8 .col-md-6, .footer .row .col-lg-8 .col-sm-6, .footer .row .col-lg-8 .col-xs-6, .footer .row .col-md-8 .col-lg-6, .footer .row .col-md-8 .col-md-6, .footer .row .col-md-8 .col-sm-6, .footer .row .col-md-8 .col-xs-6, .footer .row .col-sm-8 .col-lg-6, .footer .row .col-sm-8 .col-md-6, .footer .row .col-sm-8 .col-sm-6, .footer .row .col-sm-8 .col-xs-6, .footer .row .col-xs-8 .col-lg-6, .footer .row .col-xs-8 .col-md-6, .footer .row .col-xs-8 .col-sm-6, .footer .row .col-xs-8 .col-xs-6 {
    margin-top: 40px;
    margin-right: -32px;
    margin-bottom: 37px;
    color: white;
    float: right; }
    .footer .row .col-lg-8 .col-lg-6 p, .footer .row .col-lg-8 .col-md-6 p, .footer .row .col-lg-8 .col-sm-6 p, .footer .row .col-lg-8 .col-xs-6 p, .footer .row .col-md-8 .col-lg-6 p, .footer .row .col-md-8 .col-md-6 p, .footer .row .col-md-8 .col-sm-6 p, .footer .row .col-md-8 .col-xs-6 p, .footer .row .col-sm-8 .col-lg-6 p, .footer .row .col-sm-8 .col-md-6 p, .footer .row .col-sm-8 .col-sm-6 p, .footer .row .col-sm-8 .col-xs-6 p, .footer .row .col-xs-8 .col-lg-6 p, .footer .row .col-xs-8 .col-md-6 p, .footer .row .col-xs-8 .col-sm-6 p, .footer .row .col-xs-8 .col-xs-6 p {
      display: block;
      letter-spacing: -0.043em;
      font-family: HelveticaNeueLTPro-Th, Arial, sans-serif;
      font-size: 2.4em;
      text-align: right; }
      .footer .row .col-lg-8 .col-lg-6 p span, .footer .row .col-lg-8 .col-md-6 p span, .footer .row .col-lg-8 .col-sm-6 p span, .footer .row .col-lg-8 .col-xs-6 p span, .footer .row .col-md-8 .col-lg-6 p span, .footer .row .col-md-8 .col-md-6 p span, .footer .row .col-md-8 .col-sm-6 p span, .footer .row .col-md-8 .col-xs-6 p span, .footer .row .col-sm-8 .col-lg-6 p span, .footer .row .col-sm-8 .col-md-6 p span, .footer .row .col-sm-8 .col-sm-6 p span, .footer .row .col-sm-8 .col-xs-6 p span, .footer .row .col-xs-8 .col-lg-6 p span, .footer .row .col-xs-8 .col-md-6 p span, .footer .row .col-xs-8 .col-sm-6 p span, .footer .row .col-xs-8 .col-xs-6 p span {
        margin: 0 0 0 0;
        color: #00aff8; }
    .footer .row .col-lg-8 .col-lg-6 h6, .footer .row .col-lg-8 .col-md-6 h6, .footer .row .col-lg-8 .col-sm-6 h6, .footer .row .col-lg-8 .col-xs-6 h6, .footer .row .col-md-8 .col-lg-6 h6, .footer .row .col-md-8 .col-md-6 h6, .footer .row .col-md-8 .col-sm-6 h6, .footer .row .col-md-8 .col-xs-6 h6, .footer .row .col-sm-8 .col-lg-6 h6, .footer .row .col-sm-8 .col-md-6 h6, .footer .row .col-sm-8 .col-sm-6 h6, .footer .row .col-sm-8 .col-xs-6 h6, .footer .row .col-xs-8 .col-lg-6 h6, .footer .row .col-xs-8 .col-md-6 h6, .footer .row .col-xs-8 .col-sm-6 h6, .footer .row .col-xs-8 .col-xs-6 h6 {
      float: right;
      margin: -18px 0 0 60px;
      color: #a7a7a7;
      font-size: .85em; }
    .footer .row .col-lg-8 .col-lg-6 h5, .footer .row .col-lg-8 .col-md-6 h5, .footer .row .col-lg-8 .col-sm-6 h5, .footer .row .col-lg-8 .col-xs-6 h5, .footer .row .col-md-8 .col-lg-6 h5, .footer .row .col-md-8 .col-md-6 h5, .footer .row .col-md-8 .col-sm-6 h5, .footer .row .col-md-8 .col-xs-6 h5, .footer .row .col-sm-8 .col-lg-6 h5, .footer .row .col-sm-8 .col-md-6 h5, .footer .row .col-sm-8 .col-sm-6 h5, .footer .row .col-sm-8 .col-xs-6 h5, .footer .row .col-xs-8 .col-lg-6 h5, .footer .row .col-xs-8 .col-md-6 h5, .footer .row .col-xs-8 .col-sm-6 h5, .footer .row .col-xs-8 .col-xs-6 h5 {
      font-family: Verdana, Arial, sans-serif;
      font-size: .75em; }

.carousel-inner {
  border: 1px solid #e4e4e4;
  padding: 7px;
  background-color: #f7f7f7; }

/*.carousel-control.left {
  margin: 0 0 0 -146px;
}
.carousel-control.right {
  right: -144px !important;
  left: auto;
}*/
.carousel-caption {
  width: 66%;
  right: -4% !important;
  left: 33% !important;
  letter-spacing: -0.13em;
  line-height: 1.4em;
  padding-bottom: 23px !important;
  font-family: Verdana, Arial, sans-serif; }
  .carousel-caption h3 {
    text-align: left; }
  .carousel-caption p {
    font-size: .85em;
    letter-spacing: 0.025em;
    text-align: left; }

.carousel-control {
  top: 50% !important;
  margin-top: -20px !important;
  width: 40px !important;
  height: 40px !important;
  -webkit-border-radius: 50% !important;
          border-radius: 50% !important;
  background-image: url("../img/left_arrow.png") !important;
  opacity: 1 !important; }
  .carousel-control span {
    display: none; }

.carousel-control.right {
  right: -15px !important;
  background-image: url("../img/right_arrow.png") !important;
  z-index: 101; }

.carousel-control.left {
  left: -15px !important; }

.panel-group {
  width: 76%;
  margin-bottom: 0 !important;
  margin-top: -6px;
  margin-left: 11px; }

#main-pop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #main-pop .left {
    width: 34.11%; }
  #main-pop .right {
    width: 65.89%; }

.panel-group .panel + .panel {
  margin-top: 0 !important; }

.panel-default.panel {
  width: 100%;
  border: none !important;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  border-bottom: 1px solid #e4e4e4 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative; }
  .panel-default.panel:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 4px;
    width: 7px;
    height: 7px;
    border: none;
    border-top: 3px solid #0b81be;
    border-right: 3px solid #0b81be;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

.panel-default > .panel-heading {
  padding: 6.5px 15px;
  background-image: none !important;
  background-color: #f8f8f8 !important; }

.panel-title > a {
  font-family: Verdana, Arial, sans-serif !important;
  font-size: .75em !important;
  font-style: italic; }

.tooltip-inner {
  width: 250px;
  max-width: 250px !important;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

@media (max-width: 992px) {
  body {
    font-size: 12px; } }

@media (max-width: 768px) {
  body {
    font-size: 10px; } }

@media (max-width: 635px) {
  body {
    font-size: 9px; } }
